HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/

##KP : Ignore Files
src/main/java/com/kpjavaspringboot/Literature/Capture1.JPG
src/main/java/com/kpjavaspringboot/Literature/Capture2.JPG
src/main/java/com/kpjavaspringboot/Literature/Capture3.JPG
src/main/java/com/kpjavaspringboot/Literature/Capture4.JPG
src/main/java/com/kpjavaspringboot/Literature/Capture5.JPG
src/main/java/com/kpjavaspringboot/Literature/Capture6.JPG
src/main/java/com/kpjavaspringboot/Literature/Capture7.JPG
src/main/java/com/kpjavaspringboot/Literature/Capture-2.JPG
src/main/java/com/kpjavaspringboot/Literature/TestInterviewCapture.JPG
src/main/java/com/kpjavaspringboot/KPJavaInterview.java
src/main/java/com/kpjavaspringboot/interview/KPJavaInterview.txt
src/main/java/com/kpjavaspringboot/interview/KPJavaInterview-XX.txt
src/main/java/com/kpjavaspringboot/interview/KPJavaInterview.java.txt
src/main/java/com/kpjavaspringboot/interview/KPJavaInterview.txt
src/main/java/com/kpjavaspringboot/interview/KPJavaInterview.java.txt
src/main/java/com/kpjavaspringboot/interview/KPJavaInterviewExamples.java.txt
src/main/java/com/kpjavaspringboot/interview/KPJavaPermute.java.txt
src/main/java/com/kpjavaspringboot/interview/KPMRTest.java.txt
##src/main/java/com/kpjavaspringboot/socket/
src/main/java/com/kpjavaspringboot/socket/KPChatClient.java
src/main/java/com/kpjavaspringboot/socket/KPChatServer.java
